<html>
    <head>
        <link rel="stylesheet" href="/css/agency.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>Beer Me</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
                <div class="navbar-header page-scroll">
                    <a class="navbar-brand page-scroll" href="/"><img src="/img/logo.png" class="logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signin">Sign In</a>
                        </li>
                        <li>
                            <a class="page-scroll active" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</html>
