<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>Beer Me</title>
    </head>
    <body>
        <div class="container">
            {% if sign_in == true %}
                <h1>Log in to your account.</h1>
                <form action="/login" method="get">
                    <div class="form-group">
                        <label for="username">Enter your username:</label>
                        <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>

            {% else %}
                <h1>Create a new account.</h1>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="username">Enter your username:</label>
                        <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Enter your email:</label>
                        <input class="form-control" placeholder="Email Address" id="email" name="email" type="text" required>
                    </div>
                </form>
            {% endif %}
        </div>
    </body>
</html>
