<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>Beer Me</title>
    </head>
    <body>
        <header class="sticky home-page">
            <div class="row global-margin">
                <div class="container">
                    <div class="col-md-12">
                        <a href="/" class="beer-me"><h2>Beer Me</h2></a>
                        <button type="submit" class="btn btn-success"><a href="/signup">Signup</a></button>
                        <button type="submit" class="btn btn-success"><a href="/signin">Sign-in</a></button>
                    </div>
                </div>
            </div>
        </header>
        <a href="/email">Email page</a>
            {% if sign_in == true %}
                <h1>Log in to your account.</h1>
                <form action="/login" method="get">
                    <div class="form-group">
                        <label for="username">Enter your username:</label>
                        <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>

            {% elseif sign_up == true %}
                <h1>Create a new account.</h1>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="username">Enter your username:</label>
                        <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Enter your email:</label>
                        <input class="form-control" placeholder="Email Address" id="email" name="email" type="text" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign up</button>
                </form>
            {% endif %}
        </div>

    </body>
</html>
