<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <title>Beer Me</title>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Beer Me</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signin">Sign In</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">It's About Time You Buy Your Friend</div>
                    <div class="intro-heading">a Damn Beer.</div>
                </div>
            </div>
        </header>

        <!-- Sign In/Sign Up -->
        <section id="sign-in">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                {% if sign_in == true %}

                    <h2 class="section-heading">Log in to your account.</h2>

                    <form action="/login" method="get">
                        <div class="col-xs-3">
                            <label for="username">Enter your username:</label>
                            <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                        </div>
                        <a href="/login" class="page-scroll btn btn-xl">Sign In</a>
                    </form>
                    </div>
                </div>

                {% elseif sign_up == true %}
                    <h2 class="section-heading">Create a new account.</h2>
                    <form action="/signup" method="post">
                        <div class="col-xs-3">
                            <label for="username">Enter your username:</label>
                            <input class="form-control input-lg" placeholder="Username" id="username" name="username" type="text" required>
                        </div>
                        <div class="col-xs-3">
                            <label for="email">Enter your email:</label>
                            <input class="form-control input-lg" placeholder="Email Address" id="email" name="email" type="text" required>
                        </div>
                        <a href="/login" class="page-scroll btn btn-xl">Sign Up</a>
                    </form>
                {% endif %}
            </div>
        </section>


            <!-- jQuery -->
            <!-- // <script src="js/jquery.js"></script> -->

            <!-- Bootstrap Core JavaScript -->
            <!-- // <script src="js/bootstrap.min.js"></script> -->

            <!-- Plugin JavaScript -->
            <!-- // <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
            // <script src="js/classie.js"></script>
            // <script src="js/cbpAnimatedHeader.js"></script> -->

            <!-- Contact Form JavaScript -->
            <!-- // <script src="js/jqBootstrapValidation.js"></script>
             <script src="js/contact_me.js"></script> -->

            <!-- Custom Theme JavaScript -->
            <!-- // <script src="js/agency.js"></script> -->
        </header>
    </body>
</html>
