<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <title>Beer Me</title>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Beer Me</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signin">Sign In</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">It's About Time You Buy Your Friend</div>
                    <div class="intro-heading">a Damn Beer.</div>
                </div>
            </div>
        </header>

        <!-- Sign In-->
        <section id="sign-in">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                {% if sign_in == true %}

                    <h2 class="section-heading">Log in to your account.</h2>

                    <form action="/login" method="get">
                        <div class="col-xs-3">
                            <label for="username">Enter your username:</label>
                            <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>

                        </div>
                        <button type="submit" class="page-scroll btn btn-xl">Sign In</button>
                    </form>
                    </div>
                </div>

                <!-- Sign Up -->
                {% elseif sign_up == true %}


                    <a href='/show_customer_signup'><h2>Create a customer account.</h2></a>
                    {% if customer_signup == true %}
                    <form action="/customer_signup" method="post">
                        <div class="col-xs-3">
                            <label for="username">Enter your username:</label>
                            <input class="form-control input-lg" placeholder="Username" id="username" name="username" type="text" required>
                        </div>
                        <div class="col-xs-3">
                            <label for="email">Enter your email:</label>
                            <input class="form-control input-lg" placeholder="Email Address" id="email" name="email" type="text" required>
                        </div>
                        <button type="submit" class="page-scroll btn btn-xl">Sign Up</button>
                    </form>
                    {% endif %}

                    <a href='/show_business_signup'><h2>Create a business account.</h2></a>
                    {% if business_signup == true %}
                    <form action="/business_signup" method="post">

                            <label for="name">Enter the bussiness name:</label>
                            <input placeholder="Business Name" id="name" name="name" type="text" required>

                            <label for="phone">Enter a phone number:</label>
                            <input  placeholder="555-555-5555" id="phone" name="phone" type="text" required>

                            <label for="address">Enter an address</label>
                            <input  placeholder="123 Street Ave." id="address" name="address" type="text" required>

                            <label for="website">Enter the website</label>
                            <input  placeholder="www.yourbusiness.com" id="website" name="website" type="text" required>

                            <button type="submit">Sign Up</button>
                    </form>
                    {% endif %}

                <!-- About -->
                {% elseif about == true %}
                <section id="about" class="bg-medium-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">About</h2>
                                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-image">
                                            <img class="logo" src="img/domestic.png">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>August 31, 2015</h4>
                                                <h4 class="subheading">Our Humble Beginnings</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <img class="logo" src="img/domestic.png" alt="">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>September 1, 2015</h4>
                                                <h4 class="subheading">An App is Born</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-image">
                                            <img class="logo" src="img/domestic.png" alt="">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>September 4, 2015</h4>
                                                <h4 class="subheading">App Launch</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <img class="logo" src="img/domestic.png" alt="">
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>The Future</h4>
                                                <h4 class="subheading">Global Domination</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <h4>Be Part
                                                <br>Of Our
                                                <br>Story!</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                {% elseif team == true %}
                <!-- Team Section -->
                <section id="team">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Our Amazing Team</h2>
                                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Jason Bethel</h4>
                                    <p class="text-muted">Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/casey.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Casey Heitz</h4>
                                    <p class="text-muted">Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="https://www.twitter.com/caseyheitz"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="https://www.facebook.com/heitz.casey?fref=ts"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/pub/casey-heitz/55/762/205"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/jordan.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Jordan Johansen</h4>
                                    <p class="text-muted">Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="https://www.facebook.com/jordan.johansen.14?fref=ts"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/kelli.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Kelli Margaret</h4>
                                    <p class="text-muted">Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="https://twitter.com/kellimargaret"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="https://www.facebook.com/kelli.margaret"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/pub/kelli-sommerdyke/97/613/648"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/sam.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Sam Martinez</h4>
                                    <p class="text-muted">Founder + Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="https://twitter.com/sam_martinez22"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="https://www.facebook.com/sam.martinez.7503?fref=ts"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="https://www.linkedin.com/pub/sam-martinez/53/3b6/972"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="img/team/kyle.jpg" class="img-responsive img-circle" alt="">
                                    <h4>Kyle Pratuch</h4>
                                    <p class="text-muted">Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Beer Me 2015</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


            <!-- jQuery -->
            <script src="js/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
            <script src="js/classie.js"></script>
            <script src="js/cbpAnimatedHeader.js"></script>

            <!-- Contact Form JavaScript -->

            <script src="js/contact_me.js"></script>


            <!-- Custom Theme JavaScript -->
            <script src="js/agency.js"></script>

    </body>
</html>
