<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <title>Beer Me</title>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Beer Me<img src="/img/logo.png" class="logo"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signin">Sign In</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header>
            <div class="container">
                <div class="intro-text">
                <div class="intro-lead-in">It's About Time You Buy Your Friend</div>
                <div class="intro-heading">a Damn Beer.</div>
                <a href="/signin" class="page-scroll btn btn-xl">Learn More</a>
                {% if sign_in == true %}
                    <h1>Log in to your account.</h1>
                    <form action="/login" method="get">
                        <div class="form-group">
                            <label for="username">Enter your username:</label>
                            <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                {% elseif sign_up == true %}
                    <h1>Create a new account.</h1>
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label for="username">Enter your username:</label>
                            <input class="form-control" placeholder="Username" id="username" name="username" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Enter your email:</label>
                            <input class="form-control" placeholder="Email Address" id="email" name="email" type="text" required>
                        </div>
                        <button type="submit" class="btn btn-success">Sign up</button>
                    </form>
                {% endif %}
            </div>
            </div>
        </header>
    </body>
</html>
