<html>
    <head>
        <title>Beer Me</title>
    </head>
    <body>
        <h1>Beer Me Homepage</h1>
        <a href="/signup">Signup</a>
        <a href="/signin">Sign-in</a>
    </body>
</html>
