<html>
    <head>
        <title>{{ user.getName }}</title>
    </head>
    <body>
    <a href='/show_email_search'><h1>Buy a beer:</h1></a>

        {% if send_token == true %}
        <h2>Find a friend:</h2>
            <form action='/find_friend'>
                <label for='search_email'>Your friend's email:</label>
                <input id='search_email' name='search_email' type='text' placeholder='buddy@email.com' required>
                <button type='submit'>Search</button>
            </form>
        {% endif %}

        <a href='/show_user_tokens/{id}'><h1>My tokens:</h1></a>
        {% if my_tokens == true %}
            {% if user_tokens is not empty %}
            <ul>
                {% for token in user_tokens %}
                    <!-- <a href='/token'><p>Placeholder</p></a> This will route to a page with a confirmation code -->
                    {% set returned_menu = token.getMenuItem %}
                    {% set bar = Bar::find($returned_menu[0]) %}
                    {% set item = Item::find($returned_menu[1]) %}
                    <li>Drink: {{ item.getDescription }}<br>
                        Bar: {{ bar.getName }}<br>
                        Sent by: {{ (Patron::find(token.getSenderId)).getName }}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You don't have any tokens yet! Apparently, you don't have any cool friends either.</p>
        {% endif %}

        <a href='/show_user_edit/{id}'><h1>Edit Profile</h1></a>
        {% if edit_user == true %}
            <form action='/edit_user/{id}' method='post'>
                <input name='_method' type='hidden' value='patch'>
                <label for='name'>Name</label>
                <input id='name' name='name' type='text' value='user.getName' required>
                <label for='email'>Email</label>
                <input id='email' name='email' type='text' value='user.getEmail' required>
                <button type='submit'>Update</button>
            </form>
        {% endif %}
    </body>
</html>
