<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Nice! You sent a beer!</h1>
        <a href='/select_bar/{{ user.getId }}/{{ friend.getId }}'>Send another beer</a></br>
        <a href="/confirmation/{{ user.getId }}">Back to Page</a>
    </body>
</html>
