<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <title>Beer Me</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="/">Beer Me</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/signin">Sign In</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/team">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="bar-header">
            <div class="container">
                <div class="intro-text">
                    <div class="row">
                    </div>
                </div>
            </div>
        </header>
        <div class="container">

        <h1>Nice! You sent a beer!</h1>
        <a href='/select_bar/{{ user.getId }}/{{ friend.getId }}'>Send another beer</a></br>
        <a href="/confirmation/{{ user.getId }}">Back to Page</a>
        </div>
    </body>
</html>
