{% extends "base.njk" %}

{% block content %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">It's About Time You Buy Your Friend</div>
            <div class="intro-heading">a Damn Beer.</div>
        </div>
    </div>
</header>

<section id="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            {% if section == "signin" %}
                <h2 class="section-heading">Log in to your account.</h2>
                <form action="/login" method="get">
                    <div class="col-xs-3">
                        <input class="form-control" placeholder="User Email or Bar Name" id="username" name="username" type="text" required>
                    </div>
                    <button type="submit" class="page-scroll btn btn-xl">Sign In</button>
                </form>

            {% elif section == "signup" %}
                <a href="/show_customer_signup"><h2>Create a customer account.</h2></a>
                {% if signupKind == "customer" %}
                <form action="/customer_signup" method="post">
                    <div class="col-xs-3">
                        <input class="form-control input-lg" placeholder="Name" id="username" name="username" type="text" required>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control input-lg" placeholder="Email Address" id="email" name="email" type="email" required>
                    </div>
                    <button type="submit" class="page-scroll btn btn-xl">Sign Up</button>
                </form>
                {% endif %}

                <br>
                <a href="/show_business_signup"><h2>Create a business account.</h2></a>
                {% if signupKind == "business" %}
                <div class="border-solid">
                    <form action="/business_signup" method="post">
                        <label for="name">Enter the business name:</label>
                        <input class="form-control input-lg" placeholder="Business Name" id="name" name="name" type="text" required><br>

                        <label for="phone">Enter a phone number:</label>
                        <input class="form-control input-lg" placeholder="555-555-5555" id="phone" name="phone" type="text" required><br>

                        <label for="address">Enter an address</label>
                        <input class="form-control input-lg" placeholder="123 Street Ave." id="address" name="address" type="text" required><br>

                        <label for="website">Enter the website</label>
                        <input class="form-control input-lg" placeholder="www.yourbusiness.com" id="website" name="website" type="text" required><br>

                        <br><button type="submit" class="page-scroll btn btn-xl">Sign Up</button>
                    </form>
                </div>
                {% endif %}

            {% elif section == "about" %}
                <section id="about" class="bg-medium-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">About</h2>
                                <h2 class="section-subheading">Celebration Beers.</h2>
                                <h4 class="section-subheading">There is always a reason to buy your buddy a nice cold beer. <br>Beer Me is a Web &amp; Mobile app that allows you to send your friends drinks from anywhere, even if you're not with them.</h4>
                            </div>
                        </div>
                    </div>
                </section>

            {% elif section == "team" %}
                <!-- Team Section -->
                <section id="team">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Our Amazing Team</h2>
                                <h3 class="section-subheading text-muted">Code to drink. Drink to code.</h3>
                            </div>
                        </div>
                        <div class="row">
                            {% for member in [
                                { img: "jason.jpg",  name: "Jason Bethel",    role: "Developer" },
                                { img: "casey.jpg",  name: "Casey Heitz",     role: "Developer" },
                                { img: "jordan.jpg", name: "Jordan Johansen", role: "Black Sheep + Developer" },
                                { img: "kelli.jpg",  name: "Kelli Margaret",  role: "Developer" },
                                { img: "sam.jpg",    name: "Sam Martinez",    role: "Founder + Developer" },
                                { img: "kyle.jpg",   name: "Kyle Pratuch",    role: "Developer" }
                            ] %}
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img src="/img/team/{{ member.img }}" class="img-responsive img-circle" alt="">
                                    <h4>{{ member.name }}</h4>
                                    <p class="text-muted">{{ member.role }}</p>
                                    <ul class="list-inline social-buttons">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Beer Me 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
