{% extends "base.njk" %}

{% block content %}
<header class="bar-header">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="intro-lead-in">Thanks for signing up!</div>
                <a href="/signin"><button type="submit" class="btn btn-primary">Sign In</button></a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
