{% extends "base.njk" %}

{% block content %}
<header class="bar-header">
    <div class="container">
        <div class="intro-text">
            <div class="row"></div>
        </div>
    </div>
</header>

<div class="container">
    <div class="border-solid">
        <h1>Here is the token for {{ bar.name }}</h1>
        <h3>This token is good for one {{ item.description }} worth ${{ item.cost }}.</h3>
        <br>
        <a href="/show_user_tokens/{{ token.patronId }}">Back to Patron</a>
    </div>
</div>
{% endblock %}
